{{ "<!-- Clients Aside -->" | safeHTML }}
<aside class="clients">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-heading"><strong>{{ with .Site.Params.customers.title | upper }}{{ . | markdownify }}{{ end }}</strong></h2>
            </div>
        </div>
        <div class="row">
            <div class="carousel slide media-carousel" data-interval="4000" data-ride="carousel" id="logosCarousel">
                <div class="carousel-inner">
                    {{ $files := readDir "static/img/logos" | shuffle }}
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range first 4 $files }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 4 (first 8 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 8 (first 12 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 12 (first 16 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 16 (first 20 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 20 (first 24 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                    </div>
                    <div class="item">
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 24 (first 28 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                        <div class="row">
                            <div class="col-md-2"></div>
                            {{ range after 28 (first 32 $files) }}
                            <div class="col-md-2">
                                <img src="img/logos/{{ .Name | urlize }}" class="img-responsive center-block logo" alt="{{ .Name }}">
                            </div>
                            {{ end }}
                        </div>
                    </div>
                </div>
                <a data-slide="prev" href="#logosCarousel" class="left carousel-control"><span class="glyphicon glyphicon-chevron-left"></span></a>
                <a data-slide="next" href="#logosCarousel" class="right carousel-control"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
    </div>
</aside>
