{{ "<!-- Navigation -->" | safeHTML }}
<nav class="navbar navbar-default navbar-fixed-top">
    {{ $productData := (index $.Site.Data.products $.Title)}}
    <div class="container">
        {{ "<!-- Brand and toggle get grouped for better mobile display -->" | safeHTML }}
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-left" href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/logo.png" style="height:50px;border:0;"/></a>
        </div>
        {{ "<!-- Collect the nav links, forms, and other content for toggling -->" | safeHTML }}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                {{ if $productData.enableOverview }}
                <li>
                    <a class="page-scroll" href="#overview">Overview</a>
                </li>
                {{ end }}
                {{ if $productData.enablePricing }}
                <li>
                    <a class="page-scroll" href="#pricing">Pricing</a>
                </li>
                {{ end }}
                {{ if $productData.enableFeatureComparison }}
                <li>
                    <a class="page-scroll" href="#feature-comparison">Feature Comparison</a>
                </li>
                {{ end }}
                {{ if $productData.enableFAQ }}
                <li>
                    <a class="page-scroll" href="#faq">FAQ</a>
                </li>
                {{ end }}

                {{ if .Site.Params.contact.enable }}
                <li>
                    <a class="page-scroll" href="{{ .Site.Params.contact.url }}">{{ with .Site.Params.navigation.contact }}{{ . | markdownify }}{{ end }}</a>
                </li>
                {{ end }}
                <li>
                    <a href="https://app.3dsim.com">Login</a>
                </li>
                {{ if .Site.Params.callToAction.enable }}
                <li>
                    <p class="navbar-btn">
                        <a href="{{ .Site.Params.callToAction.url }}">
                            <btn class="btn btn-primary">{{ with .Site.Params.callToAction.name }}{{ . | markdownify }}{{ end }}</btn>
                        </a>
                    </p>
                </li>
                {{ end }}
            </ul>
        </div>
        {{ "<!-- /.navbar-collapse -->" | safeHTML }}
    </div>
    {{ "<!-- /.container-fluid -->" | safeHTML }}
</nav>
